html {
}

nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
}

nav ul li {
      display: inline;
      margin-right: 1px;
}

nav ul li a {
	padding: 0.50% 2%;
	font: 1em "Trebuchet MS",Arial,sans-serif;
	line-height: 1em;
	text-align: center;
	text-decoration: none;
	color: #000;
}

header nav ul li a {
	border: 1px solid #600;
	background: #000;
	color: #fff;
}

ul li a:hover, #archive:hover {
	opacity: 0.3;
}

.left {
	text-align: left;
	margin-left: 2%;
	margin-top: 2%;
}

#archive {
	background: #6A6A6A;
	border: #6A6A6A;
}

.whatis {
	background: #0073e5;
	border: 0px;
}

.right {
	text-align: right;
	margin-right: 2%;
	margin-top: 2%;
}

footer {
	margin-top: 2%;
}

p#no-js {
	margin: 2%;
	padding: 2%;
	border: 1px solid #cc3;
	background: #ff9;
	font-weight: bold;
	color: #000;
}
