html {
}

nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
}

nav ul li {
      display: inline;
      margin-right: 1px;
}

nav ul li a {
    padding: 4px 20px;
    font: 1em "Trebuchet MS",Arial,sans-serif;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    color: #000;
}

header nav ul li a {
    border: 1px solid #600;
    background: #000;
    color: #fff;
}

.left {
	text-align: left;
	margin-left: 2%;
	margin-top: 2%;
}

.right {
	text-align: right;
	margin-right: 2%;
	margin-top: 2%;
}

td a {
	text-decoration: none;
	color: #000;
}

td > a:hover {
	font-weight: bold;
}

#picture {
	position: fixed;
	left: 1%;
	top: 1%;
	width: 15%;
}

#picture img {
	max-width: 100%;
	height: auto;
}


@media all and (max-width: 800px) {
	#picture {
		display: none;
	}
}

@media handheld {
	#picture {
		display: none;
	}
}
