.planned a, .uncertain a, .release a, .simulcast a, .dropped a {
    text-decoration: none;
}

.planned, .uncertain {
    color: #000;
}

.uncertain::after {
    content: " ?";
}

.release {
    color: #008000;
    font-weight: bold;
}

.simulcast {
    color: #357AB7;
}

.dropped {
    text-decoration:line-through;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: medium solid #6495ed;
    border-collapse: collapse;
}

th {
    font-family: monospace;
    border: thin solid #6495ed;
    padding: 5px;
    background-color: #D0E3FA;
}

td {
    font-family: sans-serif;
    border: thin solid #6495ed;
    width: 50%;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
}

caption {
    font-family: sans-serif;
}
