.planned a, .uncertain a, .release a, .simulcast a, .dropped a {
	text-decoration: none;
}

.planned a:hover, .uncertain a:hover, .release a:hover, .simulcast a:hover, .dropped a:hover {
	text-decoration:underline;
}

.planned, .planned a, .uncertain, .uncertain a {
	color: #000;
}

.uncertain::after {
	content: " ?";
}

.release, .release a, .dropped, .dropped a {
	color: #008000;
}

.release, .release a {
	font-weight: bold;
}

.dropped, .dropped a {
	text-decoration:line-through;
	font-weight: normal;
}

.simulcast, .simulcast a {
	color: #357AB7;
}

.simulcast::before {
	content: "Simulcast: ";
}

th {
	text-align: center;
}

td {
        text-align: center;
}

td a {
	text-decoration: none;
	color: #000;
}

td > a:hover {
	text-shadow: 1px 0px 3px #ff0000;
}

caption {
	font-family: sans-serif;
}

table .img-responsive {
	width: 100%;
	height:auto;
}

.row {
    display: table;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
    background-color: #eee;
}
/*
.row {
	margin-bottom: 20px;
}
.row .row {
	margin-top: 10px;
	margin-bottom: 0;
}
[class*="col-"] {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #eee;
	background-color: rgba(86,61,124,.15);
	border: 1px solid #ddd;
	border: 1px solid rgba(86,61,124,.2);
}
*/
