.planned a, .uncertain a, .release a, .simulcast a, .dropped a {
	text-decoration: none;
}

.planned a:hover, .uncertain a:hover, .release a:hover, .simulcast a:hover, .dropped a:hover {
	text-decoration:underline;
}

.planned, .planned a, .uncertain, .uncertain a {
	color: #000;
}

.uncertain::after {
	content: " ?";
}

.release, .release a, .dropped, .dropped a {
	color: #008000;
}

.release, .release a {
	font-weight: bold;
}

.dropped, .dropped a {
	text-decoration:line-through;
	font-weight: normal;
}

.simulcast, .simulcast a {
	color: #357AB7;
}

.simulcast::before {
	content: "Simulcast: ";
}

table {
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	border: medium solid #6495ed;
	border-collapse: collapse;
}

th {
	font-family: Georgia;
	font-weight: bold;
	border: thin solid #6495ed;
	padding: 5px;
	background-color: #D0E3FA;
}

td {
	font-family: sans-serif;
	border: thin solid #6495ed;
	width: 55%;
	padding: 5px;
	text-align: center;
	background-color: #ffffff;
}

td a {
	text-decoration: none;
	color: #000;
}

td > a:hover {
	text-shadow: 1px 0px 3px #ff0000;
}

#picture {
	position: fixed;
	left: 0.5%;
	top: 15%;
	width: 15%;
}

#picture img {
	max-width: 100%;
	height: auto;
}

caption {
	font-family: sans-serif;
}

@media handheld, all and (max-width: 800px), all and (max-device-width: 800px) {
	#picture {
		display: none;
	}
	
	td > a:hover {
		text-shadow: none;
	}
}
